

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.channels {
    display: none;
}

.channel {
    padding: 5px;
    border: dotted;
}

.modal.modal-wide .modal-dialog {
  width: 70%;
}


.toggler {
    margin-top: 20px;
    padding: 10px;
    font-size: x-large;
    border: double;
}

.descriptor#product-channel {
    text-transform: capitalize;
}

/***********************/
/* GRAPHING PROPERTIES */

    .graph#main-plot {
        position: relative;
        left: 40px;
    }

    .graph#y-axis {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 40px;
    }

    .rickshaw_legend .label {
        white-space: normal;
    }

/* END OF GRAPHING PROPERTIES */
/******************************/


/*
.channel#release, .channel#convergence {
    background-color: #3ADF00;
}

.channel#beta, .channel#aurora, .channel#central {
    background-color: #FF8000;
}

.channel#nightly {
    background-color: #B40404;
}
*/

/**********************************/
/* CUSTOM MOZILLIAN NAVBAR STYLES */


/* END OF CUSTOM MOZILLIAN NAVBAR STYLES */
/*****************************************/







