/* ==========================================================================
    Author's custom styles
    ========================================================================== */

    div.row.query-input {
        margin-bottom: 10px;
    }

    .row .left-side {
        margin-top: 2%;
    }

    .row .right-side {
        margin-top: 2%;
    }

    textarea {
        resize: vertical;
    }