/* ==========================================================================
    Author's custom styles
    ========================================================================== */

    form div.new-query, form div.old-query {
        margin: 0.2%;
        padding: 1%;
        border: 1px lightgray dashed;
    }
     
    textarea {
        resize: vertical;
    }

    div.versions {
        display: none;
    }

    div.version {
        padding: 5px;
        border: dotted;
    }

    div.product {
        margin-top: 20px;
        padding: 10px;
        font-size: x-large;
        border: double;
    }


/**********************************/
/* CUSTOM MOZILLIAN NAVBAR STYLES */


/* END OF CUSTOM MOZILLIAN NAVBAR STYLES */
/*****************************************/







