/* ==========================================================================
    Author's custom styles
    ========================================================================== */
    
    .rrscore { 
        cursor: default;
    }

    .btn#get-component-breakdowns {
        display: none;
    }

    #about-rule-boilerplate {
        display: none;
        margin: 1%;
        padding: 1%;
    }   

    div.top-menu {
        display: none;
        position: absolute;
    }   

    li.group:hover div.top-menu {
        display: block;
    }

    form div.query {
        margin: 0.2%;
        padding: 1%;
        border: 1px lightgray dashed;
    } 

    i.load-status{
        vertical-align: middle;
        max-width: 30%;
    }

    li.is-default {
        background-color: rgb( 240, 240, 240 ) !important;
    }  

    .group .group-number {
        margin-top: 5%;
    }

    .group .group-graph {
        position: absolute;
        margin-top: 10%;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .group .group-title {
        position: absolute;
        width: 100%;
        bottom: 0px;
        overflow: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .non-group .group-title {
        position: absolute;
        width: 100%;
        bottom: 40%;
    }

    #accordion {
        margin-top: 8px;
        margin-right: 8px;
        margin-left: 8px;

    }

    a.panel {
        color: inherit;
        background: inherit;
    }
    a.panel:hover 
    {
         color:#00A0C6; 
         cursor:pointer;  
    }

    #main-content {
        visibility:hidden;
    }

    .section h2 {
        margin-top: 10px;
    }

/***********************/
/* GRAPHING PROPERTIES */

    .plot {
        position: relative;
    }

    .y-axis {
        position: absolute;
        top: 0;
        bottom: 0;
    }

    .breakdown-plot {
        position: relative;
    }

    .breakdown-y-axis {
        position: absolute;
    }

    .rickshaw_legend .label {
        white-space: normal;
    }

/* END OF GRAPHING PROPERTIES */
/******************************/


/**********************************/
/* GRIDSTER STYLES */
    
    .gridster ul {
        list-style-type: none;
    }

    li.group {
        position: relative;
    }

    .gridster {
        width: 100%;
        margin: 0 auto;
    }
    
    .gridster .gs-w {
        background: #FFF;
        cursor: pointer;
        -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
    }

/* END OF GRIDSTER STYLES */
/*****************************************/

/**********************************/
/* SORTTABLE STYLES */

table#sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):after { 
    content: "  " 
}

table#sortable tbody {
    counter-reset: sortabletablescope;
}
table#sortable thead tr::before {
    content: "";
    display: table-cell;
}
table#sortable tbody tr::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
}

/* END OF SORTTABLE STYLES */
/*****************************************/



