/* ==========================================================================
    Author's custom styles
    ========================================================================== */

    #about-rule-boilerplate {
        display: none;
        margin: 1%;
        padding: 1%;
    }   

    div.top-menu {
        float: right;
        display: none;
    }   

    li.group:hover div.top-menu {
        display: block;
    }

    textarea {
        resize: vertical;
    }

    form div.new-query, form div.old-query {
        margin: 0.2%;
        padding: 1%;
        border: 1px lightgray dashed;
    } 

    img.load-status{
        max-width: 30%;
    }

    li.is-default {
        background-color: rgb( 240, 240, 240 ) !important;
    }  

    .group .group-number {
        margin-top: 5%;
    }

    .group .group-graph {
        position: absolute;
        margin-top: 10%;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .group .group-title {
        position: absolute;
        width: 100%;
        bottom: 0px;
        overflow: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .non-group .group-title {
        position: absolute;
        width: 100%;
        bottom: 40%;
    }

    li.action {
        position: relative;
    }

    .action#add-new-group{
        position: absolute;
        text-align: center;   
    }

/***********************/
/* GRAPHING PROPERTIES */

    .plot {
        position: relative;
        left: 9%;
    }

    .y-axis {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 9%;
    }

    .rickshaw_legend .label {
        white-space: normal;
    }

/* END OF GRAPHING PROPERTIES */
/******************************/


/**********************************/
/* GRIDSTER STYLES */
    
    .gridster ul {
        list-style-type: none;
    }

    li.group {
        position: relative;
    }

    .gridster {
        width: 100%;
        margin: 0 auto;
    }
    
    .gridster .gs-w {
        background: #FFF;
        cursor: pointer;
        -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
    }

/* END OF GRIDSTER STYLES */
/*****************************************/







